@use "../variables";

.button {
  display: inline-block;
  color: variables.$color;
  fill: variables.$iconColor;

  :global(.isDark) & {
    color: variables.$darkColor;
    fill: variables.$darkColor;
  }

  &:hover {
    color: variables.$highLightedColor;
    fill: variables.$highLightedColor;

    :global(.isDark) & {
      color: variables.$darkHighLightedColor;
      fill: variables.$darkHighLightedColor;
    }
  }
}
