@import "../variables";

.button {
  display: inline-block;
  color: $color;
  fill: $iconColor;

  :global(.isDark) & {
    color: $darkColor;
    fill: $darkColor;
  }

  &:hover {
    color: $highLightedColor;
    fill: $highLightedColor;

    :global(.isDark) & {
      color: $darkHighLightedColor;
      fill: $darkHighLightedColor;
    }
  }
}
