@import "../../common/variables";

.requestWrapper {
  display: inline-block;
  min-width: 100%;

  &:nth-child(2n) .request {
    background: $evenRowBackground;

    :global(.isDark) & .request {
      background: $darkEvenRowBackground;
    }
  }

  &:nth-child(2n + 1) .request {
    background: $oddRowBackground;

    :global(.isDark) & .request {
      background: $darkOddRowBackground;
    }
  }
}

.request {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  white-space: nowrap;
  padding: 7px;
  width: 100%;
  height: 100%;

  .sizeTime {
    display: flex;
    align-items: center;

    > div {
      width: 100px;
      text-align: center;
    }
  }

  :global(.isDark) & {
    color: #bdc4cc;
  }

  &.error .method {
    color: $error;
  }

  &.responseNotParsed .method {
    color: $warning;
  }

  &:not(.isSelected):hover {
    background: $hoverBackground;

    :global(.isDark) & {
      background: $darkHoverBackground;
    }
  }
}

.isSelected {
  background: $selectedBackground !important;

  :global(.isDark) & {
    background: $darkSelectedBackground !important;
  }
}

.methodWrapper {
  min-width: 300px;

  .method,
  .url {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.methodContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.method {
  display: block;
}

.url {
  display: block;

  &.isCors::before {
    content: "CORS: ";
    color: $error;
    opacity: 0.7;
  }

  > span {
    opacity: 0.4;
  }
}
