@import "../common/variables";

.responseInfoWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.responseInfoContainer {
  height: 0;
  flex-grow: 1;
  border-bottom: 1px solid $borderColor;
  display: flex;

  :global(.isDark) & {
    border-bottom: 1px solid $darkBorderColor;
  }
}
