@import "../common/variables";

.responseInfoWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.responseInfoHeader {
  justify-content: space-between;
}

.responseInfoHeaderLeftSide {
  display: flex;
  align-items: center;
}

.responseInfoHeaderRightSide {
  display: flex;
  align-items: center;

  > * {
    margin-right: 10px;
  }

  > *:last-child {
    margin-right: 0;
  }
}

.responseInfoContainer {
  height: 0;
  flex-grow: 1;
  border-bottom-width: 0;
  display: flex;

  &.responseNotParsed {
    font-size: 14px;
    color: $color;

    .rawResponseWrapper {
      width: 100%;
      overflow: auto;

      > pre {
        white-space: break-spaces;
        padding: 10px;
        margin: 0;
      }
    }

    :global(.isDark) & {
      color: $darkColor;
    }
  }
}

.expandButton {
  margin-right: 10px;
}

.convertToTSButton > i {
  width: 16px;
  height: 16px;
}
