.responseInfoWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.responseInfoContainer {
  height: 0;
  flex-grow: 1;
  border-bottom-width: 0;
  display: flex;
}
