@import "../variables";

.inputWrapper {
  display: flex;
  align-items: center;
}

.checkboxWrapper {
  cursor: pointer;
  user-select: none;
}

.input {
  background: $background;
  color: $color;
  outline: none;
  border: 1px solid transparent;
  font-family: system-ui, sans-serif;
  font-size: 12px;

  :global(.isDark) & {
    background: $darkBackground;
    color: $darkColor;
  }

  &:hover {
    border: 1px solid $borderColor;

    :global(.isDark) & {
      border: 1px solid $darkBorderColor;
    }
  }
}

.label {
  margin-left: 5px;
  color: $color;

  :global(.isDark) & {
    color: $darkColor;
  }
}
