@use "../variables";

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;

  &:hover input:not([disabled]) ~ .label {
    color: variables.$highLightedColor;

    :global(.isDark) & {
      color: variables.$darkHighLightedColor;
    }
  }
}

.checkboxWrapper {
  user-select: none;
}

.input {
  background: variables.$background;
  color: variables.$color;
  outline: none;
  border: 1px solid transparent;
  font-family: system-ui, sans-serif;
  font-size: 12px;

  :global(.isDark) & {
    background: variables.$darkBackground;
    color: variables.$darkColor;
  }

  &:hover {
    border: 1px solid variables.$borderColor;

    :global(.isDark) & {
      border: 1px solid variables.$darkBorderColor;
    }
  }
}

.label {
  margin-left: 5px;
  color: variables.$color;

  :global(.isDark) & {
    color: variables.$darkColor;
  }
}
