@use "../variables";

.select {
  background: variables.$background;
  color: variables.$color;
  outline: none;
  font-family: system-ui, sans-serif;
  font-size: 12px;
  border: 1px solid variables.$borderColor;
  padding: 2px 3px;

  :global(.isDark) & {
    border: 1px solid variables.$darkBorderColor;
    background: variables.$darkBackground;
    color: variables.$darkColor;
  }
}
