@use "../common/variables";

.toolbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.toolbarSection {
  display: flex;
  align-items: center;
}

.clearButton {
  height: 14px;
}

.clearIcon {
  width: 14px;
  height: 14px;
}

.filter {
  margin-left: 10px;
  margin-right: 10px;
  padding: 1px 4px;
  width: 200px;
  vertical-align: middle;

  &:focus {
    outline: 1px solid #4d90fe;
  }
}

.filterClearIconWrapper {
  background: variables.$borderColor;
  border-radius: 50%;
  position: absolute;
  right: 14px;
  height: 14px;
  width: 14px;
  font-size: 14px;
  fill: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  :global(.isDark) & {
    background: variables.$darkBorderColor;
  }

  &:hover {
    background: variables.$darkColor;
  }
}

.filterClearIcon {
  width: 8px;
  height: 8px;
  font-size: 8px;
}

.settingsItemWrapper:not(:last-child) {
  margin-right: 10px;
}
