@import "../variables";

.headerContainer {
  z-index: 1;
  min-height: 27px;
  height: 27px;
  border-bottom: 1px solid $borderColor;
  display: flex;
  align-items: center;
  padding: 0 7px;
  background: $headerBackground;
  color: $color;
}

:global(.isDark) {
  .headerContainer {
    background: $darkHeaderBackground;
    color: $darkColor;
    border-bottom: 1px solid $darkBorderColor;
  }
}
