@use "../variables";

.headerContainer {
  z-index: 1;
  min-height: 27px;
  height: 27px;
  border-bottom: 1px solid variables.$borderColor;
  display: flex;
  align-items: center;
  padding: 0 9px;
  background: variables.$headerBackground;
  color: variables.$color;
  user-select: none;
}

:global(.isDark) {
  .headerContainer {
    background: variables.$darkHeaderBackground;
    color: variables.$darkColor;
    border-bottom: 1px solid variables.$darkBorderColor;
  }
}
