@use "../common/variables";

.layoutWrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  background: variables.$background;
  color: variables.$color;

  :global(.isDark) & {
    background: variables.$darkBackground;
    color: variables.$darkColor;
  }
}

.layoutContainer {
  display: flex;
  height: calc(100% - 28px);
  flex-grow: 1;
}

.leftSideContainer {
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

.leftSideContainer:not(:last-child) {
  border-right: 1px solid variables.$borderColor;

  :global(.isDark) & {
    border-right: 1px solid variables.$darkBorderColor;
  }
}

.rightSideContainer {
  width: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
