@import "../common/variables";

.layoutWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $background;
  color: $color;

  :global(.isDark) & {
    background: $darkBackground;
    color: $darkColor;
  }
}

.layoutContainer {
  display: flex;
  height: calc(100% - 28px);
  flex-grow: 1;
}

.leftSideContainer {
  font-weight: normal;
  border-right: 1px solid $borderColor;
  display: flex;
  flex-direction: column;

  :global(.isDark) & {
    border-right: 1px solid $darkBorderColor;
  }
}

.rightSideContainer {
  width: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
