@use "../../../common/variables";

.editRequestModal {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.contentWrapper {
  height: calc(100vh - 74px);
  overflow: auto;
}

.button {
  cursor: pointer;
  background: variables.$background;
  padding: 5px 10px;
  border: 1px solid variables.$borderColor;
  border-radius: 0.25rem;

  &:not(.cancel):hover {
    background: variables.$hoverBackground;
  }

  :global(.isDark) & {
    background: variables.$darkBackground;
    border: 1px solid variables.$darkBorderColor;

    &:not(.cancel):hover {
      background: variables.$darkBackground;
    }
  }

  &.cancel {
    border-width: 0;
    margin-right: 10px;
  }
}
