.requestInfoWrapper {
  display: flex;
  flex-direction: column;
}

.header {
  justify-content: space-between;
}

.requestInfoContainer {
  overflow: auto;
  height: 0;
  flex-grow: 1;
  padding: 7px;
  border-bottom: 1px solid #000;
}
