@import "../common/variables";

.requestInfoWrapper {
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 28px);
}

.closeButton {
  font-size: 14px;
  margin-right: 10px;
}

.requestInfoContainer {
  height: 0;
  flex-grow: 1;
  border-bottom: 1px solid $borderColor;
  display: flex;

  :global(.isDark) & {
    border-bottom: 1px solid $darkBorderColor;
  }
}

.resizableBottomHandlerWrapper {
  height: 27px !important;
  bottom: -27px !important;
  z-index: 2;
}
