@import "../common/variables";

.requestInfoWrapper {
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 28px);
}

.requestInfoHeader {
  justify-content: space-between;
}

.closeButton {
  font-size: 19px;
  line-height: 12px;
  font-weight: 300;
  padding: 2px;
  margin-left: -2px;
  margin-right: 6px;
  vertical-align: middle;
  margin-top: -5px;
}

.closeButtonIcon {
  width: 12px;
  height: 12px;
}

.requestInfoContainer {
  height: 0;
  flex-grow: 1;
  border-bottom: 1px solid $borderColor;
  display: flex;

  :global(.isDark) & {
    border-bottom: 1px solid $darkBorderColor;
  }
}

.resizableBottomHandlerWrapper {
  height: 27px !important;
  bottom: -27px !important;
  width: calc(100% - 50px) !important;
  z-index: 2;
}
