@use "../common/variables";

.requestListWrapper {
  flex-grow: 1;
  overflow: auto;
}

.requestList {
  display: table;
  min-width: 100%;
}

.requestsHeaderWrapper {
  display: inline-block;
  min-width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  background: variables.$headerBackground;

  :global(.isDark) & {
    background: variables.$darkHeaderBackground;
  }
}

.requestsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.methodHeader {
  min-width: 300px;
}

.metaHeaders {
  display: flex;
  align-items: center;

  > div {
    width: 100px;
    text-align: center;
  }
}
