$background: #fff;
$headerBackground: #f1f3f4;
$color: #323941;
$iconColor: #6e6e6e;
$highLightedColor: #000;
$evenRowBackground: #fff;
$oddRowBackground: #f5f5f5;
$selectedBackground: #dadce0;
$borderColor: #cbcdd1;
$hoverBackground: #f2f6fc;

$darkBackground: #202124;
$darkHeaderBackground: #292a2d;
$darkColor: #919191;
$darkHighLightedColor: #fff;
$darkEvenRowBackground: #242424;
$darkOddRowBackground: #292929;
$darkSelectedBackground: #454545;
$darkBorderColor: #4a4c50;
$darkHoverBackground: #192436;

$error: #ee442e;
$warning: #b8a679;
