html,
body,
:global(#application) {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 650px;
}

:global(#application) {
  position: relative;
  z-index: 1;
}

:global(#portal) {
  position: relative;
  z-index: 2;
}
