@use "./components/common/variables";

html,
body,
:global(#application) {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

::highlight(json-rpc-search-list),
::highlight(json-rpc-search-request),
::highlight(json-rpc-search-response),
::highlight(json-rpc-search-message) {
  background-color: variables.$searchHighlightBackground;
  color: variables.$searchHighlightColor;
}

:global(.isDark) ::highlight(json-rpc-search-list),
:global(.isDark) ::highlight(json-rpc-search-request),
:global(.isDark) ::highlight(json-rpc-search-response),
:global(.isDark) ::highlight(json-rpc-search-message) {
  background-color: variables.$darkSearchHighlightBackground;
  color: variables.$darkSearchHighlightColor;
}

:global(#application) {
  position: relative;
  z-index: 1;
}

:global(#portal) {
  position: relative;
  z-index: 2;
}
