@import "../common/variables";

.settingsWrapper {
  background: $background;
  color: $color;
  position: fixed;
  inset: 0;
  z-index: 2;

  :global(.isDark) & {
    background: $darkBackground;
    color: $darkColor;
  }
}

.settingsContainer {
  padding: 10px;
}

.settingsItem {
  > * {
    display: inline-block;
  }

  &:not(:last-of-type) {
    padding-bottom: 10px;
  }
}

.select {
  margin-left: 10px;
  width: 100px;
}

.themeSelect {
  width: 200px;
}

.closeButton {
  position: absolute;
  right: 9px;
  top: 6px;

  > i {
    width: 13px;
    height: 13px;
  }
}
